<div class ="main">
  <div class="banner">
    <ul><li>This is my slider.</li><li>Pretty cool, huh?</li><li>WOW cool slider</li><li>love it</li></ul>
</div>
</div>
<div class="supporting">
<div class="container">
  <div class="row">
  <div class="col-md-6">
    <p>
      My name is anthonyUL
    </p></div>
  <div class="col-md-6">
    <p>
      My name is anthonyUR
    </p></div>
</div>
  <div class="row">
  <div class="col-md-6">
    <p>
      My name is anthonyLL
    </p></div>
  <div class="col-md-6">
    <p>
      My name is anthonyLR
    </p></div>
</div>
</div>
</div>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/assets/unslider.js"></script>
<script>
		jQuery(document).ready(function($) {
			$('.banner').unslider({ autoplay: true, delay: 4000 });
		});
	</script>
