  <div class="jumbotron"> 
    <div class="container"> 
      <h2>Hello. My name is <span class="highlight">SAMAR</span> and I have creative ideas and build websites as hobby</h2> 
    <%=link_to "View my work",portfolio_path,class:"btn-main" %>  
    </div> 
  </div> 