.jumbotron{
  background:#0E2A36;
  color:#fff;
  height:300px;
}

.btn-main {
  background-color: #FB8D00;
  color: #fff;
   padding: 16px 40px;
  text-decoration: none;
  margin-top:40px;
  float:right;
}
